<section id="final">

        <div class="row footer-text">

            <div class="col-6">
                <h2 class="col">ADOPTME</h2>
                <ul class="row">
                    <li><a href="#"><span><i class="fab fa-instagram"></a></span></i></li>
                    <li><a href="#"><span><i class="fab fa-facebook-square"></a></i></span></li>
                    <li><a href="#"><span><i class="fab fa-twitter-square"></a></i></span></li>
                </ul>
            </div>


            <div class="col-6">
                <h2 class="col">HIRE US</h2>
                <div class="row recent-posts-line-height">
                    <div>
                        <h5>Andrea</h5>
                        <a href="https://github.com/Andreutxa"><span><i class="fab fa-github"></i></span></a>
                        <a href="https://www.linkedin.com/in/andrea-astorga-bilbao/"><span><i class="fab fa-linkedin"></i></span></a>
                    </div>
                    <div>
                        <h5>María</h5>
                        <a href="https://github.com/PardoMaria"><span><i class="fab fa-github"></i></span></a>
                        <a href="https://www.linkedin.com/in/mariapardogenis/"><span><i class="fab fa-linkedin"></i></span></a>
                    </div>
                </div>
            </div>
            
        </div>

        
    </section>
    
    <footer>
        <div id="copyright" class="col">
            <p>Copyright © 2020 IRONCLUMSY ASSOCIATION</p>
        </div>
    </footer>