<section id="final">

        <div class="footer-flex footer-text">

            <div class="social-links">
                <h2 class="col">ADOPTME</h2>
                <ul class="row">
                    <li><a href="#"><span><i class="fab fa-instagram fa-3x"></a></span></i></li>
                    <li><a href="#"><span><i class="fab fa-facebook-square fa-3x"></a></i></span></li>
                    <li><a href="#"><span><i class="fab fa-twitter-square fa-3x"></a></i></span></li>
                </ul>
            </div>

                <div class="social-links">
                <h2 class="col">Company</h2>
                <ul class="col legal">
                    <li><a href="#">About us</a></span></li>
                    <li><a href="#">FAQ's</a></span></li>
                    <li><a href="#">Legal</a></span></li>
                </ul>
            </div>

            <div class="">
                <img src="/images/posible-logo-adoptme.png" alt="AdoptMe logo">
            </div>

            <div class="hire">
                <h2 class="col">HIRE US</h2>
                <div class="row">
                    <div class="hire-Andrea">
                        <h4>Andrea</h4>
                        <a href="https://github.com/Andreutxa"><span><i class="fab fa-github fa-lg"></i></span></a>
                        <a href="https://www.linkedin.com/in/andrea-astorga-bilbao/"><span><i class="fab fa-linkedin fa-lg"></i></span></a>
                    </div>
                    <div class="hire-Maria">
                        <h4>María</h4>
                        <a href="https://github.com/PardoMaria"><span><i class="fab fa-github fa-lg"></i></span></a>
                        <a href="https://www.linkedin.com/in/mariapardogenis/"><span><i class="fab fa-linkedin fa-lg"></i></span></a>
                    </div>
                </div>
            </div>
            
        </div>

        
    </section>
    
    <footer>
        <div id="copyright" class="col">
            <p>Copyright © 2020 IRONCLUMSY ASSOCIATION</p>
        </div>
    </footer>