<footer>

    <div>
        {{!-- <img src="" alt=""> --}}
        <h1>AdoptMe</h1>
    </div>

    <div id="social-wrapper">
        <ul>
            <li><span><i class="fab fa-instagram"></span></i></li>
            <li><span><i class="fab fa-facebook-square"></i></span></li>
            <li><span><i class="fab fa-twitter-square"></i></span></li>
        </ul>
    </div>

    <div>
        <h4>Hire us</h4>
        <div>
            <h5>Andrea</h5>
            <a href="https://github.com/Andreutxa"><span><i class="fab fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/andrea-astorga-bilbao/"><span><i class="fab fa-linkedin"></i></span></a>
        </div>
        <div>
            <h5>María</h5>
            <a href="https://github.com/PardoMaria"><span><i class="fab fa-github"></i></span></a>
            <a href="https://www.linkedin.com/in/mariapardogenis/"><span><i class="fab fa-linkedin"></i></span></a>
        </div>
    </div>

    <span>© 2020 IRONCLUMSY ASSOCIATION</span>

</footer>