body {
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-weight: 200;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bowlby One SC', cursive;
}

body p,
a {
  font-family: 'Gayathri', sans-serif;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 400;
}


/* ======NAVBAR======= */
.nav-deco {
  background-color: #065446;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-links a {
  color: #bcffe2;
  text-decoration: none;
}

.first-links a:hover {
  color: #59ffb7;
  text-decoration: none;
}

.new-post-btn {
  margin-right: 10px;
  border: 1px solid #176c4e;
  background-color: #26d0b1;
  color: #ffffff;
  font-weight: bolder;
  padding-top: 10px;
}

.new-post-btn:hover {
  margin-right: 10px;
  border: 1px solid #69f4c3;
  background-color: #7dffe7;
  color: #1a8370;
}

.search input {
  background-color: #e9fff5;
}

.shelter-dog {
  border: 1px solid #0a6353;
  background-color: #0f856f;
  border-radius: 100%;
}

.shelter-dog li {
  padding: 5px;
}

.shelter-no-dog a {
  text-decoration: none;
}

.shelter-no-dog a:hover {
  color: #59ffb7;
  text-decoration: none;
}

.user-btn {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #0b5c4d;
  background-color: #0f856f;
  color: #ffffff;
}

.user-btn:hover {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #117e6a;
  background-color: #16b094;
  color: #ffffff;
}

.user-dropdown {
  background-color: #e9fff5;
  color: #065446;
}

.user-dropd-item:hover {
  background-color: #d0fce8;
}

/* ======LOGIN======= */

#login-view {
  background-color: #bfffe3;
  /* background-color: #f7d1ba; */
  height: 100%;
}

.login-container {
  width: 800px;
  height: 600px;
  margin-left: 300px;
  padding-top: 100px;
  /* background-color: #eee; */
  /* border: 2px solid black; */
}

.login-form-container {
  width: 500px;
  height: 350px;
  margin-left: 150px;
  margin-top: 10px;
  padding: 50px 30px;
  border: 2px solid #308f66;
  background: linear-gradient(-45deg, #0f2f65, #23cdbc, #1fb580, #0b4116);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 20px;
  -webkit-box-shadow: 8px 5px 25px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 5px 25px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 25px 10px rgba(0, 0, 0, 0.75);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.email-pass {
  color: #083c2e;
  font-weight: bolder;
}

.login-btns {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 100px;
}

.login-btns button {
  color: #99ffdb;
  font-weight: bold;
}

.login-btns a {
  color: #99ffdb;
  font-weight: bold;
}

.login-btn {
  margin-right: 10px;
  border: 1px solid #176c4e;
  background-color: #1c7d5b;
}

.login-btn:hover {
  border: 1px solid #3af4b3;
  background-color: #34dea2;
}

.login-google-btn {
  margin-right: 10px;
  border: 1px solid #176c4e;
  background-color: #1c7d5b;
}

.login-google-btn a {
  padding-top: 10px;
}

.login-google-btn:hover {
  border: 1px solid #3af4b3;
  background-color: #34dea2;
}

.register-link {
  margin-left: 20px;
  color: #bbffe7;
}

.register-link a {
  text-decoration: none;
  color: #0c5c40;
}

.register-link a:hover {
  text-decoration: none;
  color: #072d20;
}

/* ======REGISTER======= */

#register-view {
  background-color: #bfffe3;
  /* background-color: #011a00; */
  height: 100%;
}

.test {
  border: 2px solid #308f66;
  padding: 20px;
  background: linear-gradient(-45deg, #0f2f65, #23cdbc, #1fb580, #0b4116);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 20px;
  -webkit-box-shadow: 8px 5px 56px 24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 5px 56px 24px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 5px 56px 24px rgba(0, 0, 0, 0.75);
}

.test label {
  color: #083c2e;
  font-weight: bolder;
}

.test input {
  border: #34dea2;
  background-color: #dcffec;
}

.bio-deco {
  border: #34dea2;
  background-color: #dcffec;
}

.submit-div {
  margin-left: 500px;
}

.submit-user {
  padding: 10px;
  border: 1px solid #108046;
  background-color: #1cc497;
  border-radius: 10px;
}

.submit-user:hover {
  border: 1px solid #3af4b3;
  background-color: #5cffc6;
}

/* ======HOME - CAROUSEL======= */

#carousel h2 {
  font-size: 36px !important;
  color: #FFFFFF;
  font-weight: bold !important;
}

#carousel p {
  font-size: 16px !important;
  color: #FFFFFF;
}

#carousel a {
  font-size: 14px !important;
  color: #FFFFFF;
  text-decoration: none;
}

.slides-container {
  margin-top: -300px;
}

.slides-container a {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.decoration-previous {
  padding: 50px 25px;
  border: 1px solid #34dea2;
  background-color: #3af4b3 !important;
  margin-right: 170px;
  opacity: 100% !important;
  z-index: 110;
}

.decoration-next {
  padding: 50px 25px;
  border: 1px solid #34dea2;
  background-color: #3af4b3 !important;
  margin-left: 170px;
}

/* ======HOME - SHELTERS SECTION======= */
#go-shelters {
  margin-top: 50px;
  background-color: rgba(30, 147, 106, 0.5);
}

#shelters-container {
  /* padding-left: 120px; */
  margin-right: 120px;
  padding-top: 50px;
  /* background-color: rgba(30, 147, 106, 0.5); */
  /* height: 515px; */
}

#shelters-text {
  width: 400px;
  margin-bottom: 30px;
}

#info-shelters {
  margin-bottom: 50px;
}

hr.hr-deco {
  border: 3px solid rgba(30, 147, 106, 0.5);
  border-radius: 3px;
}

#become-shelter-link h2 {
  margin-bottom: 25px;
}

/* #check-shelter-btn {
  margin-left: 100px;
} */

.shelter-btns {
  padding: 10px;
  border: 1px solid rgb(37, 171, 146);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 #0F0F0E;
  font-size: 20px;
  background-color: rgb(46, 203, 174);
  transition: .6s;
  overflow: hidden;
  text-decoration-style: none;
}

.shelter-btns:focus {
  outline: none;
}

.shelter-btns:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(206, 215, 255, .5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.chanche-a a {
  color: rgb(43, 108, 96);
  text-decoration: none;
  font-weight: bold;
}

.shelter-btns:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(206, 215, 255, .2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.shelter-btns:hover {
  background: rgb(124, 255, 231);
  cursor: pointer;
}

.shelter-btns:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .4s;
}

.shelter-btns:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}

/* ======HOME - WHAT DO WE DO====== */

#description>h3 {
  margin-top: 50px;
}

#description>div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.service-box {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px;
  width: 40%;
}

.service-box img {
  width: 125px;
}

/* =======ALL POSTS======= */

.header-posts {
  height: 70vh;
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cat-asleep-1559894377.jpg?crop=1.00xw:0.753xh;0,0.0147xh&resize=1200:*');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-posts div {
  margin-top: -50px;
  margin-left: -520px;
}

.header-lines {
  padding-top: 50px;
}

.header-lines h1 {
  font-family: 'Bowlby One SC', cursive !important;
  color: #14b194;
  /* border-bottom: 1px solid #dcffecc4; */
  /* font-size: 3rem; */
}

hr.h1-hr {
  border-bottom: 4px solid #dcffecc4;
  width: 300px;
}


#all-posts {
  background-color: #fbfffd;
}

#all-posts h1 {
  font-family: 'Bowlby One SC', cursive;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.filter-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-flex button {
  margin: 0px 25px;
  /* width: 150px; */
}

.filter-flex a {
  margin: 0px 25px;
  text-decoration: none;
  /* width: 250px; */
}

.filter-btns {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #0b5c4d;
  background-color: #0f856f;
  color: #ffffff;
}

.filter-btns:hover {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #117e6a;
  background-color: #16b094;
  color: #ffffff;
}

.filter-btns-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #0b5c4d;
  background-color: #0f856f;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

.filter-btns-a:hover {
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
  border: 1px solid #117e6a;
  background-color: #16b094;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
}

.posts-dropdown {
  background-color: #e9fff5;
  color: #065446;
}

/* .dropdown-item:hover {
  background-color: #d0fce8;
} */

/* =======POST CARD======= */

.test-card {
  width: 500px;
  height: 300px;
  background-image: url('https://www.demilked.com/magazine/wp-content/uploads/2019/06/5d073e3293223-cat-babysitter-friend-photoshoot-2-5d0348edd74ec__700.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hide {
  visibility: hidden;
}

.test-car h1 {
  color: #16b094;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card {
  margin-left: 20px;
  background-color: #26d0b1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.features ul {
  margin-top: -20px;
  margin-left: -15px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features-div {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.features li {
  
  padding: 5px 62px 5px 62px;
  margin-left: -16px;
  margin: 2px;
    background-color: #d5fff7;
    border-radius: 200px;
    padding: 2px 5px;
    
    margin-bottom: 0px;
    margin-top: -14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    
  
}

.card-text-date {
  margin-top: -10px;
  text-align: center;
  color: #126556 !important;
}

.card-text {
  color: #0b3c33 !important;
  font-weight: bold;
}

.adopt-me-btn {
  /* margin-left: 115px; */
  margin-bottom: 0px;
  margin-top: -14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid rgba(165, 18, 57, 0.838); */
  background-color: rgba(220, 20, 73, 0.838);
  color: rgba(255, 243, 246, 0.838);
}

.adopt-me-btn:hover {
  /* margin-left: 115px; */
  margin-bottom: 0px;
  margin-top: -14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid rgba(210, 28, 76, 0.838); */
  background-color: rgba(255, 46, 102, 0.913);
  color: rgba(255, 243, 246, 0.838);
}

.normal-adopt-btn {
  margin-top: -14px;
  background-color: #1568e4;
  color: #ffffff;
}

.normal-adopt-btn:hover {
  margin-top: -14px;
  background-color: #4891ff;
  color: #ffffff;
}

.urgent {
  background-color: #26d0b1;
  border: 4px solid rgba(171, 41, 76, 0.899);
}

/* =======MAPS API======= */

.map-frame {
  /* height: 375px;
  width: 60%; */
  width: 100%;
  height: 400px;
  border: 2px solid blue;
}

#map {
  width: 100%;
  height: 400px;
  border: 2px solid blue;
}

/* =======ALL POSTS======= */


/* ====FOOTER==== */


#final {
  padding: 20px 70px 20px 70px;
  width: 100%;
  border-top: 4px solid #1ca581;
  background-color: #065446;
  line-height: 25px;
}

#final h3 {
  font-size: 16px;
  color: #FFFFFF;
}

#final ul {
  list-style-type: none;
}

.footer-text li,
a {
  color: #bcffe2;
}

.footer-text a:hover {
  color: #10df85;
}

.footer-text h2,
h4 {
  color: #c0ffb3;
}

.footer-text h4 {
  color: #192d15;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-links h2 {
  padding-left: 55px;
  text-align: center;
}

.social-links li {
  padding: 25px;
}

.row {
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;

}

.hire h2 {
  text-align: center;
}

.hire-Andrea {
  margin-right: 50px;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #c0ffb3;
  border-top: 2px solid #c0ffb3;
  border-radius: 40px;
  background-color: #0b7864;
}

.hire-Andrea a {
  padding: 5px 10px 0px 10px;
}

.hire-Maria {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #c0ffb3;
  border-top: 2px solid #c0ffb3;
  border-radius: 40px;
  background-color: #0b7864;
}

.hire-Maria a {
  padding: 5px 10px 0px 10px;
}


footer {
  width: 100%;
  background-color: #063c33;
  color: #EEEEEE;
  padding-left: 575px;
}

footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -1rem;
  font-size: small;
}

#copyright p {
  font-family: 'Montserrat', sans-serif;
  color: #bcffe2;
}

/* ESTILOS NUEVOS */
.metadata {
  width: 100%;

}

.fas::before {
  margin-right: 5px;
}

.white {
  color: white !important;
  text-align: center;
  width: 100%;
}

.white-button {
  text-decoration: none;
  padding: 3px 10px;
  background-color: white;
  color: #063c33;
  border-radius: 5px;
  margin: 10px auto;

}

.white-button:hover {
  text-decoration: none;

  opacity: 0.8;
  color: #105449;


}

.center {
  margin: 0 auto
}

.full-width {
  width: 100%;
}