<div class="row">
  {{#each projects as |project|}}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
      {{>projects/projectcard project=project }}
    </div>
  {{else}}
    <p>
      No projects matching search: <i>{{search}}</i>.<br/>
      <a href="/projects">All projects</a>
    </p>
  {{/each}}
</div>