<form>
  <h3>Shelter posts</h3>
  <a href="/posts?search=Place">Place</a>
  <a href="/posts?search=Needs">Needs</a>
  <a href="/posts?search=Dog">Dogs</a>
  <a href="/posts?search=Cat">Cats</a>
  <a href="/posts?search=Size">Size</a>
  <a href="/posts?search=Gender">Gender</a>
  {{!-- Gender y size necesita dropdown: male, female, big, small--}}


</form>

<div class="row">
  {{#each posts as |post|}}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
      {{>posts/postcard post=post }}
    </div>
  {{else}}
    <p>
      No posts matching search: <i>{{search}}</i>.<br/>
      <a href="/posts">All posts</a>
    </p>
  {{/each}}
</div>