<div>
  <h3>Shelter posts</h3>
  <button>Place</button>
  <button>Needs</button>
  <button>Dogs</button>
  <button>Cats</button>
  <button>Burritos</button>
</div>

<div class="row">
  {{#each posts as |post|}}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
      {{>posts/postcard post=post }}
    </div>
  {{else}}
    <p>
      No posts matching search: <i>{{search}}</i>.<br/>
      <a href="/posts">All posts</a>
    </p>
  {{/each}}
</div>