<article class="container post-detail">
  <div class="mb-4">
    {{>posts/postcard post=post showDescription=true}}
  </div>

  {{#ifEquals post.author.email currentUser.email}}
    <div id="post-edit-delete" class="mb-3">
      <div>
        <a href="/posts/{{post._id}}/edit" class="btn btn-info">
          <i class="fa fa-cog"></i>
          Edit
        </a>
      </div>
      <form action="/posts/{{post._id}}/delete" method="POST">   
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>
            Delete
          </button>
        </form>
    </div>
  {{/ifEquals}}

</article>